<!-- 
    View Title
 -->
 <div class="div-row margin-top-10">
    <div class="div-col-06 selection-control">
        <strong>Product Manager</strong>
    </div>
    <div class="div-col-04">
        <button title="Close Product Manager" class="btn btn-critical btn-small float-right" click="closeProductManager()">
             <i class="far fa-window-close"></i>
        </button>
    </div>
</div>

<!-- 
    View Content
 -->
 <div class="div-row margin-top-100">
    <div class="div-col-10">
        <div style="text-align: center; font-size: 200%; color: #444;">
            Product Workflow Control Placeholder
        </div>
    </div>
</div>
 <div class="div-row margin-top-20">
    
    <div class="div-col-03">
        <div class="div-row">
            <div id="productEditPanel" class="div-col-10"></div>
        </div>
        <div class="div-row">
            <div class="div-col-10">
                <button class="btn btn-af-blue btn-small float-right" click="saveProduct()">Save Product</button>
            </div>
        </div>
    </div>
    
    <div class="div-col-half">&nbsp;</div>
    
    <div class="div-col-02">
        <div class="div-row">
            <div class="div-col-10">
                <label class="float-left">Product Files</label><br />
                <table>
                    <thead>
                        <tr>
                            <th class="hdrCell">
                                <span>Name</span>
                            </th>
                            <th class="hdrCell">
                                <span>Type</span>
                                <button id="btnAddFile" class="float-right" title="Add File to Product" click="addFileToProduct()">
                                    <i class="fas fa-plus-square"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="productFileList">
                            <td>
                                <button class="btn btn-link" click="viewFile()">
                                    {{name}}
                                </button>
                            </td>
                            <td>{{fileType}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td id="filePaginator" colspan="2"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="div-row">
            <div class="div-col-10 comments-panel">
                <div class="div-row">
                    <div class="div-col-10">
                        <label for="comments">Comments</label>
                        <button id="btnAddComment" title="Add Comment" title="Add Comment" class="btn btn-link float-right" click="showAddComment()">+</button><br />
                        <textarea id="comments" type="text" rows="7" style="display: none;"></textarea>
                    </div>
                    <div id="saveCommentPanel" class="div-col-10" style="display: none;">
                        <button title="Save Comment" class="btn btn-af-blue btn-xs float-right" click="saveComment()"><i class="far fa-save"></i>&nbsp;&nbsp;Save</button>
                    </div>
                </div>
                <div class="div-row">
                    <div id="commentsRepeat" class="div-col-10">
                        <strong>Entered By:</strong>&nbsp;&nbsp;{{enteredBy}}<br />
                        <strong>Date Entered:</strong>&nbsp;&nbsp;{{commentDate}}<br />
                        <strong>Comments:</strong><br />
                        {{text}}<br /><br /><br />
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="div-col-half">&nbsp;</div>
    
    <div class="div-col-04 padding-top-20">
        
        <div class="div-row">
            <div class="div-col-10">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <button id="btnAddEmitters" ng-disabled="disableAddEmitter()" title="Add Emitters to Product" click="addEmittersToProduct()"><i class="fas fa-plus-square"></i></button>
                            </th>
                            <th class="hdrCell">
                                <span click="emitterSort(name)">Name</span>
                            </th>
                            <th class="hdrCell">
                                <span click="emitterSort(function)">Function</span>
                            </th>
                            <th class="hdrCell">
                                <span click="emitterSort(elnots)">ELNOT</span>
                            </th>
                            <th class="hdrCell">
                                <span click="emitterSort(platforms)">Platforms</span>
                            </th>
                            <th class="hdrCell">
                                <span click="emitterSort(userCountries)">Countries</span>
                            </th>
                            <th>
                                <button click="showHideFilter()" class="float-right"><i class="fas fa-filter"></i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-hidden="displayEmitterFilter()">
                            <td>&nbsp;</td>
                            <td>
                                <input type="text" id="emitterNameFilter" class="frm-ctl-elemt">
                            </td>
                            <td>
                                <input type="text" id="functionFilter" class="frm-ctl-elemt">
                            </td>
                            <td>
                                <input type="text" id="elnotsFilter" class="frm-ctl-elemt">
                            </td>
                            <td>
                                <input type="text" id="platformsFilter" class="frm-ctl-elemt">
                            </td>
                            <td colspan="2">
                                <input type="text" id="userCountriesFilter" class="frm-ctl-elemt">
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr id="productEmitterRepeat">
                            <td>
                                <button ng-disabled="disableAddEmitter()" click="removeElnot()">
                                    <i class="fas fa-trash-alt" style="margin-left: auto; margin-right: auto; cursor: pointer;"></i>
                                </button>
                            </td>
                            <td>{{name}}</td>
                            <td>{{function}}</td>
                            <td>{{elnot}}</td>
                            <td>{{platforms}}</td>
                            <td colspan="2">{{userCountries}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td id="emitterPaginator" colspan="7"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        
    </div>
    
</div>
