<!-- 
    View Title
 -->
 <div class="div-row margin-top-35">
    <div class="div-col-10">
        <span class="component-title">
            Dashboard
        </span>
    </div>
</div>

<!-- 
    View Content
 -->
 <div class="div-row margin-top-50">
    <div class="div-col-10">
        
        <div class="dashboard-container">
            
            <div class="dashboard-item x2 floating-panel" click="loadProducts()">
                <div class="title">
                    Product Manager
                </div>
                <div class="content">
                    <div class="div-row">
                        <div class="div-col-06 border-right-divider">
                            <div class="donut-container">
                                <canvas class="donut-chart" id="donutGraph" width="200" height="200"></canvas>
                                <div class="donut-legend-container">
                                    <legend-item id="donutLegend">
                                        <div class="donut-legend-item {{Class}}"></div>
                                        <span>{{Label}}</span>
                                    </legend-item>
                                </div>
                                <!-- <canvas class="donut-chart" id="taskGraphBase2" width="200" height="200"></canvas> -->
                            </div>
                            <!-- <div class="donut-container">
                                
                            </div> -->
                        </div>
                        <div class="div-col-035">
                            <div class="div-row">
                                <div class="div-col-10">
                                    <strong>Recently Viewed</strong>
                                </div>
                                <div class="div-col-10">
                                    <ol>
                                        <li id="recentProducts"><a  click="navigateToProductEditor()">{{ProductID}}</a>: {{Service}} - {{RequestDate}}</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="dashboard-item floating-panel">
                <div class="title">
                    Project #1
                </div>
                <div class="content">
                    Project #1 Workflow Content
                </div>
            </div>
            
            <div class="dashboard-item floating-panel">
                <div class="title">
                    Project #2
                </div>
                <div class="content">
                    Project #2 Workflow Content
                </div>
            </div>
            
            <div class="dashboard-item floating-panel">
                <div class="title">
                    Project #3
                </div>
                <div class="content">
                    Project #3 Workflow Content
                </div>
            </div>
            
            <div class="dashboard-item floating-panel">
                <div class="title">
                    Project #4
                </div>
                <div class="content">
                    Project #4 Workflow Content
                </div>
            </div>
            
        </div>
        
    </div>
</div>
