
$airforce_darkest_blue: #002b80;
$airforce_medium_blue: #00338f;
$airforce_lightest_blue: #00369e;
$airforce_blue_line: #174068;
$airforce_bluebg_font: #f3c055;

$airforce_gold: #d2af39;
$airforce_dark_gold: #b6860a;
$airforce_gold_line: #f3c055;
$airforce_goldbg_font: #222;

$panel-dropshadow: -4px 4px 15px 3px rgba(187,187,187,.5);

@mixin drop-shadow($dropshadow)
{
    -moz-box-shadow: $dropshadow;
	-webkit-box-shadow: $dropshadow;
	box-shadow: $dropshadow;
}


.dashboard-container {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: left;
    flex-wrap: wrap;
    overflow: hidden;
    line-height: 20px;
    padding: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    .dashboard-item {
        @include drop-shadow($panel-dropshadow);
        width: 350px;
        height: 275px;
        border: #e2e2e2 solid 1px;
        border-radius: 6px;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        
        .title {
            color: #222;
            padding: 5px;
            font-size: 90%;
            font-weight: bold;
        }
        
        .content {
            color: #000;
            padding: 5px;
        }
    }
    
    .x2 {
        width: 720px !important;
    }
}


.floating-panel {
    @include drop-shadow($panel-dropshadow);
}

.dark-border {
    border-color: #333 !important;
}

.chart-object {
    width: 600px;
    display: inline-grid;
    margin-bottom: 50px;
}

.donut-container {
    display: inline-block;
    width: 400px;
    height: 200px;
}


.donut-chart {
    width: 200px;
    height: 200px;
    float: left;
}

li {
    font-size: 90%;
    margin-bottom: 2px;
    
    &:hover {
        background-color: $airforce_lightest_blue;
        color: $airforce_gold;
    }
}


.donut-legend-container {
    width: 160px;
    height: 200px;
    font-size: 90%;
    padding-top: 40px;
    padding-left: 40px;
    float: left;
    
    span {
        margin-left: 5px;
    }
}

legend-item {
    width: 100px;
    display: block;
}

.donut-legend-item {
    width: 15px;
    height: 15px;
    float: left;
}

.OPN {
    background-color: #b51919;
}

.SMT {
    background-color: #10a129;
}

.PRT {
    background-color: #de8733;
}

.POT {
    background-color: #666;
}

.FMT {
    background-color: #0e26b2;
}

.DLV {
    background-color: #8bf39d;
}
