<!-- 
    View Title
 -->
 <div class="div-row margin-top-35">
    <div class="div-col-10">
        <span class="component-title">
            Product Overview
        </span>
    </div>
</div>

<!-- 
    View Content
 -->
 <div class="div-row margin-top-20">
    
    <div class="div-col-10">
        <div id="productsGridPanel" class="display-panel">
            <table>
                <thead>
                    <tr>
                        <th>
                            <button id="btnAddProducts" click="addProductsMenu()"><i class="fas fa-cog"></i></button>
                        </th>
                        <th class="hdrCell">
                            <span click="sort(productId)">ID</span>
                        </th>
                        <th class="hdrCell">
                            <span click="sort(service)">Service</span>
                        </th>
                        <th class="hdrCell">
                            <span click="sort(countries)">Countries</span>
                        </th>
                        <th class="hdrCell">
                            <span click="sort(requestDate)">Request Date</span>
                        </th>
                        <th class="hdrCell">
                            <span click="sort(productType)">Product Type</span>
                        </th>
                        <th class="hdrCell">
                            <span click="sort(caseNumber)">Case #</span>
                        </th>
                        <th class="hdrCell">
                            <span click="sort(statusCode)">Status</span>
                        </th>
                        <th class="hdrCell">RIS</th>
                        <th class="hdrCell">
                            <span click="sort(emitters)">Total Emitters</span>
                        </th>
                        <th>
                            <button click="showHideFilter()"><i class="fas fa-filter"></i></button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hidden="displayFilter()">
                        <td>&nbsp;</td>
                        <td>
                            <input type="text" id="productIdFilter" class="frm-ctl-elemt">
                        </td>
                        <td>
                            <input type="text" id="serviceFilter" class="frm-ctl-elemt">
                        </td>
                        <td>
                            <input type="text" id="countriesFilter" class="frm-ctl-elemt">
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <input type="text" id="productTypeFilter" class="frm-ctl-elemt">
                        </td>
                        <td>
                            <input type="text" id="caseNoFilter" class="frm-ctl-elemt">
                        </td>
                        <td>
                            <input type="text" id="statusFilter" class="frm-ctl-elemt">
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <input type="number" id="emittersFilter" class="frm-ctl-elemt">
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr id="productList" class="product-{{productId}}" click="displayProductReview()">
                        <td>
                            <button click="showProductMenu()">
                                <i class="fas fa-bars" style="margin-left: auto; margin-right: auto; cursor: pointer;"></i>
                            </button>
                        </td>
                        <td>{{productId}}</td>
                        <td>{{service}}</td>
                        <td>{{countries}}</td>
                        <td>{{requestDate}}</td>
                        <td>{{productType}}</td>
                        <td>{{caseNumber}}</td>
                        <td>{{statusCode}}</td>
                        <td>&nbsp;</td>
                        <td style="text-align: center;">{{emitters}}</td>
                        <td>
                            <button ng-disabled="disableEdit()" click="editProduct()">
                                <i class="far fa-edit" title="Edit Product {{productId}}" style="margin-left: auto; margin-right: auto; cursor: pointer;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td id="paginator" colspan="11"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        
        <div id="productCommentsPanel" class="display-panel comments-panel" style="display: none; border: solid 1px #777; border-radius: 6px;">
            <div class="div-row">
                <div class="div-col-10">
                    <button class="btn btn-critical btn-xs float-right" click="closeComments()"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="div-row">
                <div class="div-col-10">
                    <label class="float-left">Product Files</label><br />
                    <table>
                        <thead>
                            <tr>
                                <th class="hdrCell">
                                    <span>Name</span>
                                </th>
                                <th class="hdrCell">
                                    <span>Type</span>
                                    <button id="btnAddFile" class="float-right" title="Add File to Product" click="addFileToProduct()">
                                        <i class="fas fa-plus-square"></i>
                                        <!-- <input id="fileInput" type="file" style="display:none;" /> -->
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="productFileList">
                                <td>
                                    <button class="btn btn-link" click="viewFile()">
                                        {{name}}
                                    </button>
                                </td>
                                <td>{{fileType}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td id="filePaginator" colspan="2"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="div-row">
                <div class="div-col-10">&nbsp;</div>
            </div>
            <div class="div-row">
                <div class="div-col-10">
                    <label for="comments">Comments</label>
                    <button id="btnAddComment" title="Add Comment" title="Add Comment" class="btn btn-link float-right" click="showAddComment()">+</button><br />
                    <textarea id="comments" type="text" rows="7" style="display: none;"></textarea>
                </div>
                <div id="saveCommentPanel" class="div-col-10" style="display: none;">
                    <button title="Save Comment" class="btn btn-af-blue btn-xs float-right" click="saveComment()"><i class="far fa-save"></i>&nbsp;&nbsp;Save</button>
                </div>
            </div>
            <div class="div-row">
                <div id="commentsRepeat" class="div-col-10">
                    <strong>Entered By:</strong>&nbsp;&nbsp;{{enteredBy}}<br />
                    <strong>Date Entered:</strong>&nbsp;&nbsp;{{commentDate}}<br />
                    <strong>Comments:</strong><br />
                    {{text}}<br /><br /><br />
                    <hr>
                </div>
            </div>
        </div>
    </div>
    
</div>
