<!-- 
    View Title
 -->
 <div class="div-row margin-top-10">
    <div class="div-col-06 selection-control">
        <strong>Product Elnot Selection</strong>
    </div>
    <div class="div-col-04">
        <button title="Close ELNOT Selection" class="btn btn-critical btn-small float-right" click="closeSelection()">
             <i class="far fa-window-close"></i>
        </button>
    </div>
</div>
<div class="div-row margin-top-10">
    <div id="progressMeterPanel" class="div-col-05">
       
   </div>
   <div class="div-col-05">
    <button class="btn btn-af-blue btn-small float-right" click="saveProduct()">Save Product</button>
   </div>
</div>

<!-- 
    View Content
 -->
 <div class="div-row margin-top-05">
    
    <div class="div-col-07">
        <div class="div-row">
            <div class="div-col-06">
                <span><strong><binding model="ElnotSelectionMessage">&nbsp;</binding></strong></span>
            </div>
            <div class="div-col-02">&nbsp;</div>
            <div class="div-col-02 selection-control">
                <span class="float-right">Selected: (<binding model="TotalSelected"></binding>)</span>
            </div>
            <div class="div-col-10">
                <input id="elnotFilter" type="text" class="frm-ctl-elemt" placeholder="Filter ELNOT's">
            </div>
        </div>
        <div class="div-row">
            <div id="containerCol" class="div-col-10">
                <div id="container" class="elnot-container">
                    <div id="elnotRepeat" title="Emitter: {{name}}&#013Function: {{function}}" class="elnot-item" ng-class="setElnotClass()" click="selectElnot()">{{elnot}}</div>
                </div>
            </div>
            <div class="div-col-10 elnot-selection-row">
                <div id="elnotPaginator"></div>
            </div>
        </div>
    </div>
    
    <div class="div-col-half">&nbsp;</div>
    
    <div class="div-col-02">
        
        <div class="div-row">
            <div class="div-col-10">
                <table>
                    <thead>
                        <tr>
                            <th class="hdrCell">
                                <span>ELNOT</span>
                            </th>
                            <th class="hdrCell">
                                <span>Delivery Date</span>
                            </th>
                            <th class="hdrCell">
                                <span>In Product</span>
                            </th>
                            <th class="hdrCell">
                                <span>DIA</span>
                            </th>
                            <th class="hdrCell">
                                <span>NSA</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="emitterHistoryRepeat">
                            <td>{{elnot}}</td>
                            <td>{{deliveryDate}}</td>
                            <td>{{elnotInProduct}}</td>
                            <td>{{dia}}</td>
                            <td>{{nsa}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="div-row">
            <div class="div-col-10">&nbsp;</div>
        </div>
        
        <div class="div-row">
            <div class="div-col-10">
                <button class="btn btn-af-blue btn-small float-right" click="addElnot()">Add to Product</button>
            </div>
        </div>
        
        <div class="div-row elnot-information-panel">
            <div class="div-col-10">
                <div class="div-row">
                    <div class="div-col-05">
                        <label for="elnotName">Name</label>
                        <input type="text" id="elnotName" readonly>
                    </div>
                    <div class="div-col-05">
                        <label for="elnotFunction">Function</label>
                        <input type="text" id="elnotFunction" readonly>
                    </div>
                </div>
                
                <div class="div-row">
                    <div class="div-col-05">
                        <label for="cedUpdateDate">CED Date Updated</label>
                        <input type="text" id="cedUpdateDate" readonly>
                    </div>
                    <div class="div-col-05">
                        <label for="elnotStatus">Status</label>
                        <input type="text" id="elnotStatus" readonly>
                    </div>
                </div>
                
                <div class="div-row">
                    <div class="div-col-05">
                        <label for="originCountryCodes">Origin Countries</label>
                        <select id="originCountryCodes" multiple size="5"></select>
                    </div>
                    <div class="div-col-05">
                        <label for="userCountryCodes">User Countries</label>
                        <select id="userCountryCodes" multiple size="5"></select>
                    </div>
                </div>
                
                <div class="div-row">
                    <div class="div-col-05">
                        <label for="primaryPlatformType">Primary Platform Type</label>
                        <input type="text" id="primaryPlatformType" readonly>
                    </div>
                    <div class="div-col-05">&nbsp;</div>
                </div>
                
                <div class="div-row">
                    <div class="div-col-05">
                        <label for="platformTypes">Platform Types</label>
                        <select id="platformTypes" multiple size="5"></select>
                    </div>
                    <div class="div-col-05">
                        <label for="secondaryNames">Secondary Names</label>
                        <select id="secondaryNames" multiple size="5"></select>
                    </div>
                </div>
                <div class="div-row">
                    <div class="div-col-10">
                        <label for="ewirdbSystems">EWIRDB Systems</label>
                        <select id="ewirdbSystems" multiple size="2"></select>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>

<div class="div-row">
    
    <div class="div-col-10">
        <table>
            <thead>
                <tr>
                    <th class="hdrCell">&nbsp;</th>
                    <th class="hdrCell">
                        <span click="emitterSort(name)">Name</span>
                    </th>
                    <th class="hdrCell">
                        <span click="emitterSort(function)">Function</span>
                    </th>
                    <th class="hdrCell">
                        <span click="emitterSort(elnots)">ELNOT</span>
                    </th>
                    <th class="hdrCell">
                        <span click="emitterSort(platforms)">Platforms</span>
                    </th>
                    <th class="hdrCell">
                        <span click="emitterSort(userCountries)">Countries</span>
                    </th>
                    <th class="hdrCell">
                        <span click="emitterSort(source)">Source</span>
                    </th>
                    <th>
                        <button click="showHideFilter()" class="float-right"><i class="fas fa-filter"></i></button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hidden="displayEmitterFilter()">
                    <td>&nbsp;</td>
                    <td>
                        <input type="text" id="emitterNameFilter" class="frm-ctl-elemt">
                    </td>
                    <td>
                        <input type="text" id="functionFilter" class="frm-ctl-elemt">
                    </td>
                    <td>
                        <input type="text" id="elnotsFilter" class="frm-ctl-elemt">
                    </td>
                    <td>
                        <input type="text" id="platformsFilter" class="frm-ctl-elemt">
                    </td>
                    <td>
                        <input type="text" id="userCountriesFilter" class="frm-ctl-elemt">
                    </td>
                    <td colspan="2">
                        <input type="text" id="sourceFilter" class="frm-ctl-elemt">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr id="productEmitterRepeat">
                    <td>
                        <button click="removeElnot()">
                            <i class="fas fa-trash-alt" style="margin-left: auto; margin-right: auto; cursor: pointer;"></i>
                        </button>
                    </td>
                    <td>{{name}}</td>
                    <td>{{function}}</td>
                    <td>{{elnot}}</td>
                    <td>{{platforms}}</td>
                    <td>{{userCountries}}</td>
                    <td colspan="2">{{source}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td id="emitterPaginator" colspan="8"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    
</div>
